:host {
  position: relative;
  /* display: flex; */
  /* flex-shrink: 1; */
  overflow-x: hidden;
  /* overflow-y: auto; */
  height: 100vh;
}

.mat-sidenav {
  padding-top: 34px;
}

.body-style {
  padding: 0 10vw;
}

.body-style-small {
  padding: 0 3vw;
  /* width: 96vw; */
}

.dropup {
  margin: 16px;
}

mat-drawer div {
  padding: 8px 0;
}

.small-display {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

mat-sidenav {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
}

.container,
.container-fluid {
  background-image: linear-gradient(#3d6e5c, #093324 50%, #000);
}

.container {
  margin-top: 64px;
}

.container-fluid {
  margin-top: 56px;
}

.mat-sidenav-content {
  overflow: hidden;
}
