:host {
  position: relative;
  display: flex;
  flex-shrink: 1;
  overflow-x: hidden;
  /* overflow-y: auto; */
  height: 100vh;
}

.mat-sidenav {
  padding-top: 30px;
}

.body-style {
  padding: 0 5vw;
}

.dropup {
  margin: 16px;
}

mat-drawer div {
  padding: 8px 0;
}

.small-display {
  display: flex;
  flex-direction: column;
  margin: 16px;
  
}